{% extends "base.html" %}
{% load static %}

{% block title %}Список задач{% endblock %}

{% block main_content %}

    <h1 class="text-primary mt-3 mb-5">Текущие задачи</h1>
    <ul id="todo-list">
    {% for task in tasks %}
    <li class="completed list-unstyled">
        {% if task.is_completed %}
        <input class='checkbox' data-uid={{ task.id }} type='checkbox' disabled='disabled' checked='checked'/>
        {% endif %}
        <a href="{% url 'tasks:details' task.id %}">
        {% if task.priority.name == 'High Priority' %}
        <span class="badge badge-pill badge-danger">{{ task.description }} : High Priority</span>
        {% elif task.priority.name == 'Medium Priority' %}
        <span class="badge badge-pill badge-warning">{{ task.description }} : Medium Priority</span>
        {% elif task.priority.name == 'Low Priority' %}
        <span class="badge badge-pill badge-success">{{ task.description }} : Low Priority</span>
        {% endif %}
        </a>
        <hr/>
        </li>
    {% endfor %}
    </ul>
{% endblock %}
