{% extends "base.html" %}
{% load static %}

{% block title %}Задачи на день{% endblock %}

{% block main_content %}

    {% if category %}
    <h1 class="text-primary my-3">Задачи категории "<span class="text-success">{{ category.name }}</span>"</h1>
    {% else %}
    <h1 class="text-primary my-3">Все текущие задачи</h1>
    {% endif %}
    {% for cat in categories %}
    {% if forloop.first %}
    <ul class="list-inline">
        <li class="list-inline-item">Все категории:</li>
    {% endif %}
        <li class="list-inline-item">
            <a href="{% url 'tasks:list_by_cat' cat.slug %}">
            {% if category == cat %}
            <span class="badge badge-success">{{ cat.name }}</span>
            {% else %}
            <span class="badge badge-info">{{ cat.name }}</span>
            {% endif %}
            </a>
        </li>
    {% if forloop.last %}</ul>{% endif %}
    {% endfor %}
    <hr/>

    <ul id="todo-list">
    {% for task in tasks %}
        <li class="completed list-unstyled">
            {% if task.is_completed %}
            <input class='checkbox' data-uid={{ task.id }} type='checkbox' disabled='disabled' checked='checked'/>
            {% endif %}
            <a href="{% url 'tasks:details' task.id %}">
            {% if task.priority.name == 'High Priority' %}
            <span class="badge badge-pill badge-danger">{{ task }} : High Priority</span>
            {% elif task.priority.name == 'Medium Priority' %}
            <span class="badge badge-pill badge-warning">{{ task }} : Medium Priority</span>
            {% elif task.priority.name == 'Low Priority' %}
            <span class="badge badge-pill badge-success">{{ task }} : Low Priority</span>
            {% endif %}
            </a>
            <hr/>
        </li>
    {% endfor %}
    </ul>

{% endblock %}
